/*Start login style*/

#IngresoLogin{
    background-image: url(/img/Fondo_login.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container2{ /*This part is the colored box that cotains the form*/
    width: 600px;
    height: 950px;
    position: relative;
    margin: 6% auto;
    background:white;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .button-box{ /*This part add color to the button div*/
    width: 550px;
    height: 55px;
    margin:80px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -670%);
    box-shadow: 0 0 10px 0px rgb(245, 212, 180);
    border-radius: 30px;
    text-align: center;
  }
  
  #btn-log, #btn-reg { /*buttons shape adjustment (iniciar sesión, registro)*/
    padding: 16px 80px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-block;
    font-size: 15px !important;
  }
  
  #btn { /*Is the slider bar style about "Iniciar Sesión" and "Registro" button*/
    top: 0;
    left: 0;
    position: absolute;
    width: 280px;
    height: 100%;
    background:linear-gradient(to right,  #ff7010, #ff2b06);
    border-radius: 30px;
    transition: .5s;
  }
  
  #form-log, #form-reg{
   top: 180px;
   position: absolute;
   margin-top: 90px;
   padding: 0 10px;
   max-width: 600px;
   box-sizing: border-box;
   transition: left 0.5s;
  }
  
  #user, #pass{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
  }
  
  #form-log h3, p{
    text-align: center;
    margin-top: 10px;
  }
  
  #form-log h3{
    color: orange;
  }
  
  #form-log input:not(#manteneriniciado){ /*Style in form fields (email, contraseña...)*/
    width: 500px;
    margin: 50px 0px 10px 45px;
    border-radius: 30px;
    border-color: #ff2b06;
    background: rgba(241, 241, 241, 0.61);
    padding: 20px 45px 20px 20px;
  }
  
  #form-log input::placeholder{
    color: rgba(204, 204, 204, 0.932);
    font-weight: bold;
    font-size: 20px;
  }
  
  
  #btn-submitlog{ /*Style button "ingresar"*/
    width: 300px;
    height: 80px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 50px;
    background: linear-gradient(to right, #ff7010, #ff2b06);
    border: 0;
    outline: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  #btn-submitlog:hover{
    width: 330px;
    height: 100px;
    transition: .5s;
  }
  
  #manteneriniciado {
    margin-left: 45px;
    margin-bottom: 50px;
    color: #162938;
    font-size: .9em;
    justify-content: space-between;
  }
  
  span{
    font-size: 15px;
    bottom: 68px;
  }
  
  #form-log a{
    margin-left: 90px;
    text-decoration: none;
    color: #162938;
    font-size: .9em;
  }
  
  #form-log a:hover{
    color: #ff7010;
  }
  
  .logo{
    width: 350px;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  
  /*In this part start the registion style*/
  
  #form-reg input:not(#chk-data){
    width: 500px;
    height: 40px;
    padding: 20px 20px 20px 45px;
    margin: 0 0 20px 45px;
    border-radius: 30px;
    border-color: #ff2b06;
    background: rgba(241, 241, 241, 0.61);
  }
  
  #form-reg input::placeholder{
    color: rgba(204, 204, 204, 0.932);
    font-weight: bold;
    font-size: 20px;
  }
  
  #btn-submitreg{
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff7010, #ff2b06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 40px;
  }
  
  #form-reg label {
    color: rgba(204, 204, 204, 0.932);
    font-weight: bold;
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 30px;
  }
  
  #form-reg input, select, option{ /*style in form register*/
    border-radius: 30px;
    background: rgba(252, 234, 202, 0.61);
  }
  
  #chk-data {
    color: #162938;
    font-size: .9em;
    justify-content: space-between;
    padding: 15px 0;
    margin: 0px 0px 0px 5px;
    border-radius: 20px;
  }
  /*In this part start the slide style*/
  #form-reg {
    left: 75px;
  }
  #form-reg {
    left: 700px;
  }
  
  #btn-submitreg:hover{
    width: 330px;
    height: 70px;
    transition: .5s;
  }
  
  .text-muted {
    background-color: rgb(245, 245, 245);
  }